@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body {
    background-color: #415fe1;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
margin-left: 20%;
}

h2 {
    font-size: 2em;
}


ul {
    padding: 0;
    padding-left: 8%;
}

li {
    font-weight: bold;
}

img {
    width: 300px;
}

figure {
    display: inline-block;
}

figcaption {
    font-weight: bold;
}

figcaption:hover {
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: black;
    
}

.indentato {
    margin: 0;
    font-weight: bold;
    padding-left: 22%;
}