button {
  height: 2.5em;
  color: white;
  width: 6em;
  font-weight: bold;
  background-color:transparent;
  border: 2px solid #212529;
  border-radius: 6px;
  box-shadow:0px 0px 15px #dc3545;
  &:hover {
    background-color: #dc3545;
    color: white;
    border: 0;
  }
}
