* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

@import "./partials/home";
@import "./partials/back";
@import "./partials/details";

$font-gold: rgb(200, 168, 68);
$light-black: #212529;

nav {
    z-index: 2;
    border-bottom: 1px solid #c8a844;
    img {
        width: 130px;
    }

    .nav-link {
        color: $font-gold;
        font-size: 30px;

        &:hover {
            color: $font-gold;
            text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
            
        }

        &:active {
            color: none;
        }

        &:focus {
            color: $font-gold;
        }
    }

    #btn-search {
        background-color: none;
        border: 1px solid #c8a844;
        color: #c8a844;

        &:hover {
            background-color: $font-gold;
            color: $light-black;
        }
    }

    @media screen and (max-width:990px) {
       
        .navbar-toggler {
            border-color: $font-gold;
        }

        .navbar-toggler-icon{
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(200, 168, 68)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }
}

footer {
    background-color: $light-black;
    border-top: 1px solid $font-gold;
    img {
        width: 110px;
    }
    p {
        color: rgba(255, 255, 255, 0.374);
        font-style: italic;
        font-weight: lighter;
    }

    a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.374);
        &:hover {
            color: $font-gold;
        }
    }

}