<div class="bg-dark my-5" style="height: 8px;"></div>
<div class="container">
  <div class="row">
    <p class="text-center mb-5">Questions? Call (+33) 0805-543-064</p>
    <div class="col-4 d-flex justify-content-center">
      <ul>
        <li><a href="javascript: void(0)">FAQ</a></li>
        <li><a href="javascript: void(0)">Media Center</a></li>
        <li><a href="javascript: void(0)">Netflix Shop</a></li>
        <li><a href="javascript: void(0)">Ways to Watch</a></li>
        <li><a href="javascript: void(0)">Cookie Preferencies</a></li>
        <li><a href="javascript: void(0)">Speed Test</a></li>
        <li><a href="javascript: void(0)">Only on Netflix</a></li>
      </ul>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <ul>
        <li><a href="javascript: void(0)">Help Center</a></li>
        <li><a href="javascript: void(0)">Investor Relations</a></li>
        <li><a href="javascript: void(0)">Reedem Gift Cards</a></li>
        <li><a href="javascript: void(0)">Terms of Use</a></li>
        <li><a href="javascript: void(0)">Corporate Information</a></li>
        <li><a href="javascript: void(0)">Legal Guarantee</a></li>
      </ul>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <ul>
        <li><a href="javascript: void(0)">Account</a></li>
        <li><a href="javascript: void(0)">Jobs</a></li>
        <li><a href="javascript: void(0)">Buy Gift Cards</a></li>
        <li><a href="javascript: void(0)">Privacy</a></li>
        <li><a href="javascript: void(0)">Contact Us</a></li>
        <li><a href="javascript: void(0)">Legal Notices</a></li>
      </ul>
    </div>
  </div>
</div>

